%p#notice= notice

%p
  %b Nome:
  = @produto.nome
%p
  %b Unidade:
  = @produto.unidade
%p
  %b Quantidade:
  = @produto.quantidade
%p
  %b Fabricante:
  = @produto.fabricante.nome

= link_to 'Edit', edit_produto_path(@produto)
\|
= link_to 'Back', produtos_path
