!!!
%html
  %head
    %meta{ :charset => "utf-8" }

    %meta{:name=>"description", :content=>"Lista Compras description"}
    %meta{:name=>"keywords", :content=>"ListaCompras keywords"}
    %meta{:name=>"author", :content=>"Luiz Gustavo"}
    %meta{:property=>"og:type", :content=>"website"}


    %title= content_for?(:title) ? yield(:title) : 'Lista de Compras'
    %meta{:name => "title", :content => "#{content_for?(:title) ? yield(:title) : 'ListaCompras do Lar'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    %header
      = render 'layouts/header'
    %main{:role => "main"}

      = yield
    %footer
      = render 'layouts/footer'
     